{% extends "base.html" %}
{% block content %}

<style>
    img.example {
        height: 50%;
        width: 50%;
    }
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    p.description {
        margin-left:auto;
        margin-right:auto;
        text-align:left;
        font-size:24;
    }
    
</style>

<div class="container">
  <div class="starter-template">
    <h1>About my project</h1><br>
    <h2 align='left'>Background</h2>
    <p class='description'>     One of my hobbies when I travel is to seek out and photograph local street art. I wanted to see if I could make a model that would be able to take a picture of street art and classify its art style as well as recommend other similar pictures.</p>
    <br>

    <h2 align='left'>Data</h2>
    <p class='description'> The data all came from fatcap.com, a graffiti website that has been around since 1998 and collected over 22,000 images of street art classified into 18 styles. I ended up focusing on a smaller subset of 5 styles and only images that were painted onto a wall. (Boby paint and street cars would have added an additional challenge for the CNN.)</p>
    <br>

</div>
</div>

{% endblock %}