{% extends "base.html" %}
{% block content %}

<style>
    img.example {
        height: 50%;
        width: 50%;
    }
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    p.description {
        margin-left:auto;
        margin-right:auto;
        width:50%;
        text-align:left;
    }
    
</style>

<div class="container">
  <div class="starter-template">
    <h1>About my project</h1><br>
    <h2 align='left'>Background</h2>
    <p class='description'>     One of my hobbies when I travel is to seek out and photograph local street art. I wanted to see if I could make a model that would be able to take a picture of street art and classify its art style as well as recommend other similar pictures.</p>
    <br>

</div>
</div>

{% endblock %}